.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 5em;
  padding: 20px;
  color: white;
}

.content {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.eu-cookies {
  padding: 1em;
  background-color: lightgray;
  line-height: 1.2;
  text-align: left;

  button {
    margin: 0 1em 0 1em;
  }
}

