.peg-choices {
  vertical-align: middle;
  margin: auto;

  &>div {
    float: left;
  }

  &>div:first-child {
    padding: 1vmin;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    display: inline-block;
    width:  5vmin;
    height: 5vmin;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background-color: lightgray;
  }
}

.peg-choices:after {
    content:'';
    display:block;
    clear: both;
}

label {
  font-size: 200%;
}
