.peg-choices {
  position: relative;

  &>div {
    float: left;
  }

  &>div:first-child, &>div:last-child {
    padding: 1vmin;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    display: inline-block;
    width:  6vmin;
    height: 6vmin;
    max-width:  6vmin;
    max-height: 6vmin;
    font-size: 6vmin;
    cursor: pointer;
    text-overflow: clip;
    overflow: hidden;
  }

  input[type="radio"]:checked + label {
    background-color: lightgray;
  }
}

.peg-choices:after {
    content:'';
    display:block;
    clear: both;
}

label {
  font-size: 200%;
}
