$item-size: 5vmin;
$board-size: calc(#{$item-size}*15 + 2px);

.board {
  width: $board-size;
  height: $board-size;

  background-color: burlywood;
  padding: 5vmin;
  > div {
    position: relative;
  }
  font-family: monospace;
}

.holes, .pegs {
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  text-overflow: clip;
  overflow: hidden;
  max-height: $item-size;
}

.column {
  display: inline-block;
  min-width: $item-size;
  min-height: $item-size;
  max-width: $item-size;
  max-height: $item-size;
  vertical-align: middle;
  padding-top: .5vmin;
  box-sizing: border-box;
  vertical-align: middle;
  text-overflow: clip;
  overflow: hidden;
}

.holes {
  color: saddlebrown;
  font-size: 3vmin;
}


.pegs {
  font-size: 8vmin;
  line-height:  .5;

  .column {
    cursor: pointer;
  }
}

